dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.13.1
pandas==1.5.3
numpy==1.23.5 
gunicorn==20.1.0
setuptools==57.5.0
SQLAlchemy==1.4.39    
psycopg2-binary==2.9.9
